<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeSync</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Lemon&family=Lemonada:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo-section">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
            <div>
                <h2>VibeSync</h2>
                <p>Your Vibe, Perfectly Synced</p>
            </div>
            <div class="menu-toggle" id="menuToggle">
                ☰
            </div>
        </div>

        <div class="menu">

            <div class="menu-title">Discover</div>

            <a href="{{ url_for('home') }}" class="active"><i class="fa-solid fa-house"></i> Home</a>
            <a href="{{ url_for('mood_analyzer') }}" ><i class="fa-regular fa-face-smile"></i> Mood Analyzer</a>
            <a href="{{ url_for('recommendation') }}" ><i class="fa-solid fa-music"></i> Recommendations</a>

            <div class="menu-title focus">Focus</div>

            <a href="{{ url_for('studyzone') }}"><i class="fa-solid fa-book-open"></i> Study Zone</a>

            <div class="menu-title you">You</div>

            <a href="{{ url_for('dashboard') }}"><i class="fa-solid fa-table-cells-large"></i> Dashboard</a>
            <a href="{{ url_for('favorites') }}"><i class="fa-regular fa-heart"></i> Favorite</a>
            <a href="{{ url_for('profile') }}"><i class="fa-regular fa-circle-user"></i> Profile</a>

        </div>
        <div class="logout-section">

            <a href="{{ url_for('logout') }}"
            class="logout-btn">

                <i class="fa-solid fa-right-from-bracket"></i>
                Logout

            </a>

        </div>

    </aside>

    <!-- MAIN CONTENT -->
    <main class="main">

        <!-- TOP NAVBAR -->
        <nav class="navbar">

            <div class="nav-logo" id="navLogo">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
                <span>VibeSync</span>
            </div>

            <div class="user-info">
                Hi, {{ session['username'] }}
            </div>

        </nav>

        <!-- Glow -->
        <div class="glow"></div>

        <!-- HERO -->
        <section class="hero">

            <div class="hero-glow"></div>
            <h1>
                Where your mood meets
                <br>
                the perfect melody
            </h1>

            <p>
                Share your vibe with VibeSync. From late-night thoughts to
                high-energy moments, we match your mood with music that
                feels just right — calm, uplifting, focused, or deeply
                emotional.
            </p>

            <div class="buttons">
                <a href="/mood_analyzer" class="hero-btn">
                    Analyze my mood
                </a>

                <a href="{{ url_for('studyzone') }}" class="hero-btn">
                    Open Study Zone
                </a>
            </div>
        </section>

        <!-- FEATURE CARDS -->
        <section class="cards">

            <div class="card">
                <div class="icon-box">
                    <i class="fa-solid fa-sliders"></i>
                </div>

                <h3>AI Vibe Analyzer</h3>

                <p>
                    Tell us how you're feeling.
                    We analyze your mood and
                    sync you with the perfect
                    playlist.
                </p>
            </div>

            <div class="card">
                <div class="icon-box">
                    <i class="fa-solid fa-sliders"></i>
                </div>

                <h3>Curated Playlists</h3>

                <p>
                    Handpicked tracks and playlists designed
                    to match every emotion and vibe.
                </p>
            </div>

            <div class="card">
                <div class="icon-box">
                    <i class="fa-solid fa-book-open"></i>
                </div>

                <h3>Study Zone Timer</h3>

                <p>
                    Pomodoro sessions with focus playlists.
                </p>
            </div>

            <div class="card">
                <div class="icon-box">
                    <i class="fa-solid fa-table-cells-large"></i>
                </div>

                <h3>Mood Dashboard</h3>

                <p>
                    Track your vibes over days and weeks.
                </p>
            </div>

            <div class="card">
                <div class="icon-box">
                    <i class="fa-regular fa-heart"></i>
                </div>

                <h3>Save Favorites</h3>

                <p>
                    Bookmark playlists that match your vibe.
                </p>
            </div>

            <div class="card">
                <div class="icon-box">
                    <i class="fa-solid fa-music"></i>
                </div>

                <h3>Personalized</h3>

                <p>
                    Customize your vibe preferences anytime.
                </p>
            </div>

        </section>

    </main>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>