<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeSync - Mood Analyzer</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/moodanalyzer.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Lemon&family=Lemonada:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo-section">

            <img src="{{ url_for('static',
            filename='images/logo.png') }}">

            <div class="logo-text">
                <h2>VibeSync</h2>
                <p>Your Vibe, Perfectly Synced</p>
            </div>

            <div class="menu-toggle"
            id="menuToggle">
                ☰
            </div>

        </div>

        <div class="menu">

            <div class="menu-title">
                Discover
            </div>

            <a href="{{ url_for('home') }}">
                <i class="fa-solid fa-house"></i>
                Home
            </a>

            <a href="{{ url_for('mood_analyzer') }}"
            class="active">
                <i class="fa-regular fa-face-smile"></i>
                Mood Analyzer
            </a>

            <a href="{{ url_for('recommendation') }}">
                <i class="fa-solid fa-music"></i>
                Recommendations
            </a>

            <div class="menu-title focus">
                Focus
            </div>

            <a href="{{ url_for('studyzone') }}">
                <i class="fa-solid fa-book-open"></i>
                Study Zone
            </a>

            <div class="menu-title you">
                You
            </div>

            <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-chart-line"></i>
                Dashboard
            </a>

            <a href="{{ url_for('favorites') }}">
                <i class="fa-regular fa-heart"></i>
                Favorite
            </a>

            <a href="{{ url_for('profile') }}">
                <i class="fa-regular fa-user"></i>
                Profile
            </a>

        </div>
        <div class="logout-section">

            <a href="{{ url_for('logout') }}"
            class="logout-btn">

                <i class="fa-solid fa-right-from-bracket"></i>
                Logout

            </a>

        </div>
    </aside>

    <!-- MAIN -->
    <main class="main">

        <!-- TOP NAVBAR -->
        <nav class="navbar">

            <div class="nav-logo" id="navLogo">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
                <span>VibeSync</span>
            </div>

            <div class="user-info">
                Hi, {{ session['username'] }}
            </div>

        </nav>

        <!-- CONTENT -->
        <section class="mood-container">

            <h1>
                What’s your vibe
                <span>today</span>?
            </h1>

            <p class="subtitle">
                Describe how you feel,
                and VibeSync will find music
                that fits your moment.
            </p>

            <!-- INPUT BOX -->
            <form action="{{ url_for('analyze') }}" method="POST">

                <div class="mood-box">

                    <textarea
                        id="moodInput"
                        name="mood_text"
                        maxlength="2000"
                        placeholder="Today I feel..."
                        required></textarea>

                        <div class="bottom-section">

                            <span id="charCount">
                                0/2000
                            </span>

                            <button
                                type="submit"
                                class="analyze-btn">

                                Analyze mood
                                <i class="fa-solid fa-arrow-right"></i>

                            </button>

                        </div>

                </div>

            </form>

            <!-- SUGGESTIONS -->
            <div class="suggestions">

                <h3>
                    TRY ONE OF THESE
                </h3>

                <div class="chips">

                    <button type="button" class="chip">
                        I just finished a tough
                        workout and feel
                        unstoppable.
                    </button>

                    <button type="button" class="chip">
                        Long week.
                        I'm tired and
                        a little blue.
                    </button>

                    <button type="button" class="chip">
                        Coffee, sunshine,
                        and I have the day off.
                    </button>

                    <button type="button" class="chip">
                        Trying to focus on
                        a deep work session.
                    </button>

                </div>

            </div>

        </section>

    </main>

    <script src="{{ url_for('static',filename='js/moodanalyzer.js') }}"></script>

</body>
</html>